body {
    background: #dfdfdf;

}

.foto-principal{
    width: 300px;
    
    border: 2px solid #FFFFFF; /*shorthand*/
    border-radius: 50%;
    /*
    border-width: 5px;
    border-style: solid;
    border-color: black;
    */
  }

p{
    color: #222222;
}