body {
    background: #dfdfdf;

}

.foto-principal{
    width: 300px;
    border: 2px solid #FFFFFF; /*shorthand*/
    border-radius: 50%;
    margin: 30px;
    padding: 10px;
   
  }

p{
    color: #222222;
}